.notes__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}

.empty__notes {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  width: 20rem;
}

@media screen and (max-width: 600px) {
  .notes__container {
    margin-top: 1rem;
    gap: 1rem;
  }
  .empty__notes {
    top: 60%;
  }
}

@media screen and (max-width: 400px) {
  .empty__notes {
    word-break: normal;
    font-size: 1.5rem;
    padding: 0 auto;
    transform: translate(-45%);
  }
}