.notes__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  margin-top: 2rem;
  gap: 3rem;
}

.empty__notes {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  width: 15rem;
}

@media screen and (max-width: 600px) {
  .notes__container {
    margin-top: 13rem;
    gap: 1rem;
  }
  .empty__notes {
    top: 60%;
    font-size: 2rem;
  }
}
