.filter-dropdown {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.filter-icon {
  font-size: 3rem;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.select-container{
  display: flex;
  justify-content: center;
  position: relative;
  height: 50px;
}

.select-box {
  appearance: none;
  border-radius: 4px;
  width: 9rem;
  color: white;
  background-color: var(--color-primary);
  font-size: 1rem;
  padding-left: 4rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.select-box:hover {
  transform: scale(1.1);
}

.select-container .icon-container{
  width: 50px;
  height: 100%;
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


@media screen and (max-width: 600px) {
  .filter-dropdown {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 400px) {
  .filter-icon {
    font-size: 2rem;
    margin-right: 1rem;
  }
}

