.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 2rem;
  z-index: 10;
}

.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__title {
  margin: 0 2rem;
}

.header input {
  padding: 0.7rem 1rem;
  background: transparent;
  border: 1px solid var(--color-bg-dark);
  border-radius: 0.6rem;
  color: var(--color-white);
  font-size: 1.1rem;
  width: 70%;
  transition: 0.3s;
  margin-left: 3rem;
  margin-right: 3rem;
}
.header input:focus {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    padding: 2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-danger);
  }
}

@media screen and (max-width: 490px) {
  .header__title {
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .header input {
    font-size: 0.9rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 370px) {
  .header__title {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 340px) {
  .header__title {
    font-size: 1.5rem;
  }
  .header input {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
