@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "../src/components/Button.css";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #3a3a3a;
  --color-bg-black: #111111;
  --color-white: #fefefe;
  --color-primary: #474448;
  --color-danger: rgb(249, 84, 84);
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  color: var(--color-white);
  background: var(--color-bg-black);
  line-height: 1.5;
}

#app {
  background: var(--color-bg-black);
  height: 48rem;
  width: 24rem;
  padding: 2rem 1.6rem;
  overflow-y: scroll;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

h2,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

.create-note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-note__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.create-note__form input,
.create-note__form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  background: transparent;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  color: var(--color-white);
  resize: none;
  border: 0.1rem dashed white;
  border-radius: 0.5rem;
}

.create-note__form input {
  font-size: 2rem;
}

.filter-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.filter-icon {
  font-size: 3rem;
  padding-left: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: .3s;
}

.filter-icon:hover {
  transform: scale(1.1);
}

.filter-select {
  appearance: none;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.filter-select:hover{
  transform: scale(1.1);
}


@media screen and (max-width: 600px) {
  #app {
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
  }
}
