@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "../src/components/Button.css";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #9d4edd;
  --color-bg-black: #3c096c;
  --color-white: #fefefe;
  --color-primary: #7b2cbf;
  --color-danger: #240046;
}

body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  color: var(--color-white);
  background: var(--color-bg-black);
  line-height: 1.5;
}

::-webkit-scrollbar {
  display: none;
}

.home {
  width: 960px;
  padding-bottom: 3rem;
}

.create, .edit {
  margin-top: 2rem;
}

h2,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

.note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .home {
    width: 860px;
  }
}

@media screen and (max-width: 900px) {
  .home {
    width: 760px;
  }
}

@media screen and (max-width: 800px) {
  .home {
    width: 660px;
  }
}

@media screen and (max-width: 700px) {
  .home {
    width: 560px;
  }
}

@media screen and (max-width: 600px) {
  .home {
    width: 460px;
  }
}
@media screen and (max-width: 500px) {
  .home {
    width: 360px;
  }
}
@media screen and (max-width: 400px) {
  .home {
    width: 260px;
  }
}

@media screen and (max-width: 450px) {
  .create {
    width: 20rem
  }
}

@media screen and (max-width: 350px) {
  .create {
    width: 19rem
  }
}

@media screen and (max-width: 460px) {
  .edit {
    width: 25rem
  }
}

@media screen and (max-width: 430px) {
  .edit {
    width: 23rem;
  }
}

@media screen and (max-width: 390px) {
  .edit {
    width: 21rem;
  }
}

@media screen and (max-width: 350px) {
  .edit {
    width: 19rem;
  }
}